body{
    margin: 0;
    padding: 0;
    background-image: url('img_2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;            /* or overflow: scroll; */
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;
    height: 100vh;
    width: 100%;
}
header{
    background-color: #070721c3;
    padding: 6px;
    width: 60%;
    height: 8vh;
    position: absolute;
    top: 15px;
    left: 20%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: #033decfa 0.5px solid;
    position: fixed;
    z-index: 1000;

}
.title h1{
    color: white;
    font-family: "Quicksand","Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;    
    font-size: 30px;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 4px 4px 4px #033decfa;
}
nav{
    width: 30vw;
    text-align: center;
    padding: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
nav ul li{
    display: inline-block;
    border-left:  1px solid #003ffdfe;
    padding-left: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Manrope",'Inter';
    font-weight: 300;
    font-family: sans-serif;
}
nav ul li a:hover{
    color: #03c9ece0;
    transition: 0.3s;
    text-decoration: underline;

}
button{
    padding: 10px 26px;
    border-radius: 40px;
    border: 1px solid #0364ecfa;
    background-color: rgba(255, 255, 255, 0.078);
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-family: "Quicksand","Press Start 2P", sans-serif;
    
}
button:hover{
    background-color: #0303ec54;
    box-shadow: 0 0 10px #0332ecfa;
    color: white;
    transition: 0.3s;
    transform: scale(1.05);
}




main{
    padding-top: 40px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background: #00000069;
}
section{
    margin-top: 170px;
    width: 80%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: relative;
}
section h2{
    color: white;
    font-family: "Quicksand","Press Start 2P", system-ui;
    font-weight:300;
    font-style: normal;    
    font-size: 75px;
    letter-spacing: 2px;
    margin: 0;
    text-shadow: 4px 4px 4px #030becfa;
    margin-top: 20px;
}
section p{
    color: white;
    font-family: 'Orbitron','Inter', sans-serif;
    font-size: 20px;
    font-weight: 300;
    width: 60%;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.5;
}
section button{
    border-radius: 40px;
    border: 1px solid #0519d1f0;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
}

article{
    width: 100%;
    height: 80vh;
    margin-bottom: 40px;
    overflow-y: auto;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none; 
}
article h1{
    color: white;
    font-family: "Quicksand","Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;    
    font-size: 30px;
    letter-spacing: 2px;
    margin: 10px;
    text-shadow: 4px 4px 4px #0057e2fd;
    text-align: center;
}
article hr{
    border: 0.5px solid #02056bfd;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
}
article .member{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: #000418;
    width: 90%;
    margin: 70px auto ;
    border-radius: 15px;
    border: #011979fb 0.5px solid;
}
article .member .imgg{
    width: 30%;
    height: 80%;
    border-radius: 15px;
    background-color: #000000;
    border: #011672 0.5px solid;
    overflow: hidden;
    box-shadow:  0px  0 15px 5px #020557b1;
}
article .member .imgg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
article .member .info{
    height: 428px;
    width: 60%;
    margin: 10px 40px;
    padding: 20px;
    color: white;
    font-family: 'Rajdhani','Inter', sans-serif;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
}
article .member .info {
  overflow: auto;            /* or overflow: scroll; */
  scrollbar-width: none;       /* Firefox */
  -ms-overflow-style: none;    /* IE 10+ (legacy) */
}
article .member .info h3{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 2px #0488da;
}
article .member .info p{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Share Tech Mono', monospace;
}
article .member .info hr{
    width: 90%;
    margin: 20px;
}
article .member .poject{
    width: 40%;
    height: 25%;
    background-color: #050229;
    margin: 1px;
    margin-left: 30px;
    border-radius: 10px;
    border-right: 1px solid #0000a9;
    position: relative;
}
article .member .poject:hover{
    box-shadow: 0 0 10px 2px #010163;
    transition: 0.3s;
}
article .member .poject h5{
    margin: 0px;
    padding: 10px;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: 300;
    font-style: normal;    
    font-size: 20px;
    letter-spacing: 2px;
    display: inline-block;
}
article .member .poject span{
    font-family: sans-serif;
    font-size: large;
    position: absolute;
    margin: 10px;
    right: 10px;
    
}
article .member .poject p{
    color: white;
    font-family: "Manrope",'Inter', sans-serif;
    font-size: 15px;
    font-weight: 250;
    padding: 10px;
    margin: 0px;
}
article .member .poject a{
    color: #027ce0eb;
    text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}






.contact-section {
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.container {
  display: flex;
  gap: 40px;
  width: 80%;
  max-width: 1100px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 35%;
}

.card {
  background: #000418;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: clamp(12px, 1.5vw, 16px);
  padding: 20px;
  border-radius: 14px;
    border: #011979fb 0.5px solid;
}

.card h3 {
  margin: 0 0 10px;
}

.card a {
  color: #ffffff;
  text-decoration:  none;
  font-size: 14px;
}


.contact-form {
  background: #000418;
  padding: 30px;
  border-radius: 16px;
  width: 65%;
  border: #011979fb 0.5px solid;
}

.contact-form h2 {
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  background: #1e447e76;
  border: none;
  border-radius: 8px;
  color: white;
}

textarea {
  height: 120px;
  resize: none;
}

button {
  background: #010320d0;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  border: #011979fb 0.5px solid;
}

button:hover {
  opacity: 0.85;
  transform: scale(1.05);
}